.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
__pycache__/.
.pyc
.DS_Store
*.exe
*.tmp
*.trail
spin_models/thread_working_directory/*
spin_models/generated_models/*
evaluation_files/models/*
evaluation_files/transition_models/*
pan.*
__pycache__/